:root {
    --nav_bar_height: 60px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-decoration: none;
    font-family: Oswald;
    color: white;
    transition: 0.3s;
}

html {
    background-color: black;
    height: 200%;
}

/* Navbar Styling*/
#nav_bar {
    position: sticky;
    top: 0;
    left: 0;
    height: var(--nav_bar_height);
    line-height: var(--nav_bar_height);
    width: 100%;
    background: #7395AE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_bar_left:hover, .nav_bar_link:hover, #menu:hover {
    background-color: #557a95;
    cursor: pointer;
}

#nav_bar_left {
    padding-inline: 40px;
}

#nav_bar_left > p {
    font-size: 30px;
}

#nav_bar_right {
    display: flex;
    
}

#links {
    display: flex;
}

#menu {
    padding-top: 12px;
    padding-inline: 15px;
    display: inline-block;
} 

.menu_bar_1, .menu_bar_2, .menu_bar_3 {
    width: 30px;
    height: 3px;
    border-radius: 50px;
    background-color: white;
    margin: 6px 0;
}

.nav_bar_link {
    padding-inline: 40px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    translate: 50px;
}

.transform .menu_bar_1{
    width: 20px;
    transform: translate(7px, 15px) rotate(-40deg); 
}

/* Fade out the second bar */
.transform .menu_bar_2 {
    opacity: 0;
}

/* Rotate last bar */
.transform .menu_bar_3 {
    width: 20px;
    transform: translate(7px, -15px) rotate(40deg);
}

.transform .nav_bar_link {
    visibility: visible;
    opacity: 1;
    transform: translate(-50px);
}

/* Projects Styling */

#gallery {
    height: 350px;
    width: 100%;
    background-color: gold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 20px;
}

.gallery_project {
    height: 250px;
    width: 250px;
    background-color: red;
}

.gallery_project:hover {
    cursor: pointer;
    height: 275px;
    width: 275px;
}

#project_section {
    width: 100%;
    padding: 40px;
    background-color: green;
}

#project_title {
    font-size: 40px;
}

